{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<meta name="description" content="chem 데이터 분석 기술 블로그">
<meta name="naver-site-verification" content="3160d75e9035b6bb401b9b0e5063a6622e7e9d04" />


<!-- google analytics-->
{{ if and ( ne (printf "%v" $.Site.BaseURL) "http://localhost:1313/" ) (.Site.Params.googleAnalytics) }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MKPWE6T09F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HGCZRPHK4K');
</script>
{{ end }}
{{- /* Head custom content area end */ -}}